---
BasedOnStyle: mozilla
IndentWidth: 4
PointerAlignment: Right
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignConsecutiveBitFields: true
AlignConsecutiveMacros: true
AlignEscapedNewlines: Right
AlignOperands: true

AllowAllConstructorInitializersOnNextLine: false
AllowShortIfStatementsOnASingleLine: WithoutElse

IndentCaseLabels: false
IndentPPDirectives: AfterHash

ForEachMacros:
  - WHILE_PEEK_LT_P
...
